// colors 
// for names of colors been used http://chir.ag/projects/name-that-color/
$white: #fff;
$black: #000;
$mine-shaft: #212121;
$fiord: #455a64;
$potters-clay: #94693b;
$alabaster: #f7f7f7;
$cod-gray: #1a1a1a;
$cinnabar: #e64a19;


// UI 

// Base measurements
$base-font-size: 16;
$base-line-height: 24;
// Calculated measurements
$line-height-ratio: $base-line-height / $base-font-size;

// Fonts
$font-family-roboto: 'Roboto';

$font-weight-thin: 100;
$font-weight-bold: bold;
$font-weight-light: 300;
$font-weight-regular: normal;
  
$font-family-default: $font-family-roboto;

// media
$tablet: 992px;
$mobile: 768px;


