:root {
	font-size: 100%;
}

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: $font-family-default;
	font-size: $base-font-size + px;
	line-height: $line-height-ratio;
	color: $mine-shaft;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $mine-shaft;
	text-decoration: none;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}


@media (min-width: 1200px) {
	.container {
	  width: 1170px;
	}
}