.btn {
	transition: all 0.2s ease-in-out;
	&.btn-bordered {
		text-transform: uppercase;
		border: 2px solid $white;
		outline: none;
		box-shadow: none;
		font-weight: $font-weight-bold;
		background: none;
		border-radius: toEm(38);
	}

	&.btn-white {
		color: $white!important;
		border-color: $white;
		&:hover, &:focus {
			background: $white!important;
			color: $potters-clay!important;
		}
		&:active {
			box-shadow: inset 0 2px 6px rgba($black, 0.15);
		}
	}

	&.btn-md {
		padding: toRem(15) toRem(40);
		font-size: toRem(16);
	}
}