.tooltip {
	box-shadow: 0 toEm(5) toEm(15) rgba($black, 0.25);
	z-index: 999;
	padding: 0!important;
	border-radius: 6px;
	.tooltip-arrow {
		display: none;
	}
	.tooltip-inner {
		background: $white;
		color: $mine-shaft;
		font-size: toRem(11);
		line-height: 1.45;
		text-align: left;
		width: toRem(225);
		padding: toRem(10) toEm(20);
	}

	@include respond-to-max($mobile) {
		// left: 0!important;
		// right: 0!important;
		.tooltip-inner {
			// width: 100%!important;
			// min-width: 100%;
			// max-width: 100%;
		}
	}
}