.benefits {
	.benefits__list {
		.list__item {
			float: none;
			display: inline-block;
			margin-right: -4px;
			vertical-align: top;
			padding: 0 toRem(55);
		}
		.item__icon {
			display: block;
			margin-bottom: toRem(12);
			height: toRem(60);
		}
		.item__text {
			color: $white;
			font-size: toRem(14);
			line-height: 1.8;
			text-shadow: 0 1px 2px rgba($black, 0.4);
		}
	}

	@include respond-to-max($tablet) {
		.benefits__list {
			.list__item {
				padding: 0;
			}
		}
	}

	@include respond-to-max($mobile) {
		.benefits__list {
			.list__item {
				margin-top: toRem(50);
			}
			.item__text {
				width: 70%;
				margin: auto;
				text-align: center;
				font-size: toRem(16);
				line-height: 1.4;
				color: $potters-clay;
				text-shadow: none;
			}
		}
	}
}