.calc {
	padding: 0 toRem(100);
	.calc__row {
		padding: toRem(60) 0 toRem(10) 0;
		&.calc__row-style2 {
			padding-top: 0;
		}
	}
	.calc__row__title {
		font-size: toRem(30);
		color: $mine-shaft;
		font-weight: $font-weight-light;
		line-height: 1.6;
		margin-bottom: toRem(35);
	}
	.calc__wrap__info {
		@include clearfix;
		margin-bottom: toRem(5);
	}

	.wrap__info__text {
		display: inline-block;
		float: left;
		font-size: toRem(14);
		font-weight: $font-weight-bold;
		color: rgba($mine-shaft, 0.8);
		vertical-align: middle;
		position: relative;
		padding-right: toRem(30);
		> small {
			font-size: toRem(14);
		}
		.info__text__tip {
			margin-left: toRem(5);
			border-radius: 50%;
			width: toRem(22);
			height: toRem(22);
			vertical-align: middle;
			background: none;
			text-align: center;
			border: 1px solid #d2dade;
			outline: none;
			color: #d2dade;
			font-size: toEm(14);
			line-height: 1;
			transition: all 0.2s ease-in-out;
			position: absolute;
			top: 0;
			right: 0;
			&:hover {
				color: $potters-clay;
				border-color: $potters-clay;
			}
		}
	}
	
	.wrap__info__amount {
		display: inline-block;
		float: right;
		font-size: toRem(16);
		.total {
			color: $potters-clay;
			font-weight: $font-weight-bold;
		}
		.currency {
			color: #455a64;
			margin-left: toRem(5);
		}
	}

	.wrap__result {
		color: rgba($mine-shaft, 0.8);
		text-align: center;
		padding-left: toRem(5);
		padding-right: toRem(5);
		.result__title {
			font-size: toRem(14);
			margin-bottom: toRem(8);
			letter-spacing: -0.4px;
		}
		.result__total {
			font-weight: $font-weight-light;
			.amount {
				font-size: toRem(36);
			}
			.currency {
				font-size: toRem(24);
				padding-left: toRem(10);
			}
		}
	}
	@include respond-min-max(992px, 1200px) {
		.wrap__result .result__title {
			height: toRem(42);
		}
	}
	@include respond-to-max($tablet) {
		padding: 0;
	}
	@include respond-to-max($mobile) {
		.calc__row {
			padding: toRem(20) 0 0 0;
			&.calc__row-style2 {
				padding-bottom: toRem(8);
			}
		}
		.calc__row__title {
			margin-top: 0;
			font-size: toRem(22);
		}
		.calc__wrap {
			margin-bottom: toRem(50);
			&:last-child {
				margin-bottom: toRem(25);
			}
		}
		.wrap__info__text {
			width: toRem(152);
			> small {
				display: block;
			}
		}
		.wrap__info__amount .total {
			font-size: toRem(14);
		}
		.wrap__result {
			margin-bottom: toRem(40);
			padding-left: toRem(15);
			padding-right: toRem(15);
			text-align: center;
			&:last-child {
				margin-bottom: 0;
			}
			.result__title {
				margin-bottom: 0;
			}
		}
	}
}