.content {
	padding: toRem(67) 0; 
	&.content-style1 {
		background: url('../images/footer-bg.jpg') center left no-repeat;
		background-size: cover;

		.content__title {
			color: rgba($white,0.8);
		}
	}
	&.content-style3 {
		padding: 0;
		border-bottom: 1px solid #cfd8dc;
		padding-bottom: toRem(40);
    margin-bottom: toRem(10);
    overflow: hidden;
	}

	.content__title {
		color: rgba($mine-shaft,0.8);
		padding: 0;
		margin: 0;
		font-size: toRem(30);
		line-height: 1.6;
		font-weight: $font-weight-light;
		text-transform: uppercase;
		padding-bottom: toRem(30);
		letter-spacing: 2;
	}

	.content__form {
		max-width: toRem(370);
		margin: auto;
	}
	

	@include respond-to-max($mobile) {
		padding: toRem(30) 0;
		&.content-style1 {
			min-height: 100vh;
			background-image: url('../images/footer-bg-mobile.jpg');
			background-position: top right;
			display: flex;
	    flex-flow: row wrap;
	    justify-content: space-around;
	    align-items: center;
		}
		.content__title {
			font-size: toRem(22);
			margin-bottom: toRem(20)!important;
			width: 80%;
	    margin: auto;
	    text-align: center;
		}
	}
}