.form {
	label {
		display: block;
		width: 100%;
	}
	.error {
		.form__input {
			border-color: $cinnabar;
				&::-webkit-input-placeholder {
		    color: $cinnabar;
		  }
		  &:-moz-placeholder {
		    color: $cinnabar;
		  }
		  &::-moz-placeholder {
		    color: $cinnabar;
		  }
		  &:-ms-input-placeholder {
		    color: $cinnabar;
		  }
		}
	}
	.form__input {
		border: 2px solid transparent;
		background: rgba($white, 0.8);
		border-radius: 3px;
		width: 100%;
		margin-bottom: toRem(14);
		padding: toRem(8) toRem(16);
		font-size: toRem(16);
		color: $fiord;
		outline: none;
		font-weight: $font-weight-regular;
		&::-webkit-input-placeholder {
	    color: $fiord;
	  }
	  &:-moz-placeholder {
	    color: $fiord;
	  }
	  &::-moz-placeholder {
	    color: $fiord;
	  }
	  &:-ms-input-placeholder {
	    color: $fiord;
	  }
	}
	.form__submit {
		margin: auto;
		margin-top: toRem(20);
		display: block;
	}
}


.form-success {
	color: rgba($white, 0.8);
	text-align: center;
	margin-top: toRem(60);
	padding-bottom: toRem(135);
	display: none;
	.form-success__title {
		font-size: toRem(36);
		font-weight: $font-weight-bold;
		margin-bottom: toRem(23);
	}
	> p {
		font-size: toRem(24);
		line-height: 1.5;
	}
}

@include respond-to-max($mobile) {
	.form-success {
		margin-top: toRem(20);
		padding-bottom: toRem(45);
		> p {
			font-size: toRem(20);
			line-height: 1.5;
		}
	}
}