.main-header {
	.main-header__wrap {
		background: url('../images/header-bg.jpg') top right no-repeat;
		background-size: cover;
		position: relative;
		overflow: hidden;
		z-index: 2;
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			z-index: -1;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#999999+38,795548+100&0.01+38,0.5+100 */
			background: -moz-linear-gradient(top,  rgba(153,153,153,0.01) 38%, rgba(121,85,72,0.5) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(153,153,153,0.01) 38%,rgba(121,85,72,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(153,153,153,0.01) 38%,rgba(121,85,72,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03999999', endColorstr='#80795548',GradientType=0 ); /* IE6-9 */
		}
		padding-bottom: toRem(30);
	}
	.main-header__title {
		padding-top: toRem(175);
		padding-bottom: toRem(5);
		font-size: toRem(48);
		color: $white;
		text-transform: uppercase;
		font-weight: $font-weight-light;
		// text-shadow: 0 2px 4px rgba($black, 0.5);
		letter-spacing: 2px;
		line-height: 1.35;
	}
	.main-header__description {
		color: $white;
		font-size: toRem(18);
		line-height: 1.33;
		font-weight: $font-weight-light;
		max-width: 520px;
	}
	.main-header__benefits {
		margin-top: toRem(80);
	}
	.navbar {
		background: none;
		border: none;
		padding: toRem(48) 0;
		flex-grow: 1;
	}
	.navbar-brand {
		height: initial;
		padding: toRem(8) 0;
	}
	.navbar-nav {
		margin-left: 0;
		margin-right: 0;
	}

	@include respond-to-max($mobile) {
		.navbar-brand {
			width: 100%;
			padding-top: 0;
			padding-left: toRem(15);
			img {
				margin: auto;
				float: left;
				// margin-top: toRem(30);
			}
		}
		.navbar {
			padding: toRem(20) 0;
			margin-bottom: 0!important;
		}
		.navbar-nav {
			margin-bottom: toRem(0);
		}
		.main-header__wrap {
			background-position: bottom right 36%;
			min-height: 100vh;
			display: flex;
	    flex-flow: column wrap;
	    align-items: stretch;
	    justify-content: space-between;
	    // align-content: space-between;
		}
		.main-header__title {
			padding-top: toRem(5);
			// padding-bottom: toRem(25);
			font-size: toRem(22);
			margin-top: 0!important;
			text-align: center;
			letter-spacing: 1px;
		}
		.main-header__description {
			text-align: center;
			margin-bottom: toRem(15);
			font-size: toRem(14);
		}
	}
}