.main-footer {
	background: $alabaster;
	.main-footer__wrap {
		padding: toRem(30) 0 toRem(20) 0;
	}

	.main-footer__policy, .main-footer__socials {
		overflow: hidden;
		> p {
			color: $cod-gray;
			font-size: toRem(12);
			margin-bottom: toRem(10);
		}
	}

	@include respond-to-max($mobile) {
		.main-footer__policy {
			margin-bottom: toRem(25);
			text-align: center;
			font-size: toRem(12);
			font-weight: $font-weight-light;
		}
		.main-footer__socials {
			text-align: center;
			> p {
				font-size: toRem(14);
				padding-top: toRem(15);
				margin-bottom: toRem(30);
			}
			.social-likes {
				width: 100%;
				margin-bottom: toRem(25);
				.social-likes__widget {
					zoom: 1;
					min-width: 50%;
					max-width: toRem(250);
					margin-bottom: toRem(22);
					&:before, &:after {
						content: ""!important;
    				display: table!important;
    				width: 100%;
					}
					&:after {
						clear: both!important;
					}
				}
				.social-likes__button, .social-likes__counter {
					font-size: toRem(18);
				}
			}
		}
	}
}