.rangeslider {
	.irs {
		height: toRem(50);
	}

	.irs-min, 
	.irs-max,
	.irs-from,
	.irs-to,
	.irs-single {
		display: none;
	}

	.irs-bar,
	.irs-bar-edge,
	.irs-line {
		height: 10px;
		background: none;
		top: 14px;
		border: none;
	}
	
	.irs-line-left,
	.irs-line-mid,
	.irs-line-right {
		height: 1px;
		background: $potters-clay;
	}

	.irs-slider.single {
		width: toRem(23);
		height: toRem(23);
		box-shadow: none;
		background: $potters-clay;
		border: none;
		border-radius: 50%;
		position: absolute;
		cursor: pointer;
    display: inline-block;
    top: 3px;
	}
}



// .rangeslider {
// 	z-index: 999;
// 	&.rangeslider--horizontal {
// 		height: 15px;
// 		background: none;
// 		&:before {
// 			position: absolute;
// 			top: 7px;
// 			height: 1px;
// 			right: 0;
// 			left: 0;
// 			background: #d4c3b1;
// 			content: '';
// 		}
// 	}
// 	box-shadow: none;
// 	.rangeslider__fill {
// 		background: $potters-clay;
// 		position: absolute;
// 		height: 1px;
// 		top: 7px;
// 	}
// 	.rangeslider__handle {
// 		width: toRem(23);
// 		height: toRem(23);
// 		box-shadow: none;
// 		background: $potters-clay;
// 		border: none;
// 		border-radius: 50%;
// 		position: absolute;
// 		cursor: pointer;
//     display: inline-block;
//     top: -4px;
// 	}
// }