// .stick {
// 	display: table;
//   width: 100%;
//   table-layout: fixed;
// 	.stick__row {
// 	  display: table-row;
// 	  height: 1px;
// 	} 
// 	.stick__row__expanded { 
// 	  height: 100%; 
// 	}
// }